################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualDataStructures/.vs
/VisualDataStructures/VisualDataStructures/bin/Debug/netcoreapp3.1
/VisualDataStructures/VisualDataStructures/obj
/VisualDataStructures/ParserExperiments/bin/Debug/netcoreapp3.1
/VisualDataStructures/ParserExperiments/obj/Debug/netcoreapp3.1
/VisualDataStructures/ParserExperiments/obj
/VisualDataStructures/ParserExperiments/bin/Release/netcoreapp3.1
/VisualDataStructures/VisualDataStructures/bin/Release/netcoreapp3.1
/VisualDataStructures/ShinyIDE/bin
/VisualDataStructures/ShinyIDE/obj
/VisualDataStructures/App1
/VisualDataStructures/Shiny.CodeEditor/bin/x86/Debug
/VisualDataStructures/Shiny.CodeEditor/obj
/VisualDataStructures/ShinyLang/bin/Debug
/VisualDataStructures/ShinyLang/obj
/VisualDataStructures/VisualDataStructures/bin/Demo/netcoreapp3.1
/VisualDataStructures/VisualDataStructures/VisualDataStructures.csproj.user
/VisualDataStructures/Shiny.Compiler/bin/Debug/netcoreapp3.1
/VisualDataStructures/Shiny.Compiler/obj
/VisualDataStructures/Shiny.CodeEditor/bin/x86/Release
/VisualDataStructures/ShinyLang/bin/Release/netstandard2.0
/.vs/Shiny.Calculator/v16
/Shiny.Calculator/.vs/Shiny.Calculator/v16
/Shiny.Calculator/bin/Debug/netcoreapp3.1
/Shiny.Calculator/obj
/.vs/Shiny.Calculator
/Shiny.Calculator/bin
/src/bin
/src/obj
/src/.vs/Shiny.Calculator/v16
